<div *ngIf='employee; else elseBlock'>
    <div class="panel panel-primary">
        <div class="panel-heading">Update Employee for ID: EMP00{{employee.id}} </div>
        <div class='panel-body' style="text-align: center">
            <div>
                <form (ngSubmit)="onUpdate()" [formGroup]="updateForm">
                    <div>
                        <label>First Name</label>
                        <input type="text" formControlName="firstName" value={{employee.firstName}} class="form-control" />
                        <div class="errorMessage" *ngIf="updateForm.controls.firstName.touched && !updateForm.controls.firstName.valid">First Name is required</div>
                    </div>

                    <div>
                        <label>Middle Name</label>
                        <input type="text" formControlName="middleName" value={{employee.middleName}} class="form-control">
                        <div class="errorMessage" *ngIf="updateForm.controls.middleName.touched && !updateForm.controls.middleName.valid">Middle Name is required</div>
                    </div>

                    <div>
                        <label>Last Name</label>
                        <input type="text" formControlName="lastName" value={{employee.lastName}} class="form-control">
                        <div class="errorMessage" *ngIf="updateForm.controls.lastName.touched && !updateForm.controls.lastName.valid">Last Name is required</div>
                    </div>

                    <div>
                        <label>Date of Birth</label>
                        <input type="text" formControlName="dateOfBirth" value={{employee.dateOfBirth}} class="form-control">
                        <div class="errorMessage" *ngIf="updateForm.controls.dateOfBirth.touched && !updateForm.controls.dateOfBirth.valid">Date of Birth is required</div>
                    </div>

                    <button type="submit" class="btn btn-primary">Update
                    </button> &nbsp;
                    <button (click)="deleteEmp(i)" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <div class="panel panel-primary">
        <div class="panel-heading">Add New Employee</div>
        <div class='panel-body' style="text-align: center">
            <div>
                <!-- <form (ngSubmit)="onSubmit()">
                    <div>
                        <label>First Name</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div>
                        <label>Middle Name</label>
                        <input type="text" class="form-control">
                    </div>

                    <div>
                        <label>Last Name</label>
                        <input type="text" class="form-control">
                    </div>

                    <div>
                        <label>Date of Birth</label>
                        <input type="date" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit
                    </button>
                </form> -->
                <form (ngSubmit)="onSubmit()" [formGroup]="form">
                        <div class="form-row">
                            <div class="formHeading">First Name</div>
                            <input type="text" id="firstName" formControlName="firstName"  class="form-control">
                            <div class="errorMessage" *ngIf="form.controls.firstName.touched && !form.controls.firstName.valid">First Name is required</div>
                        </div>
                        <div class="form-row">
                                <div class="formHeading">Middle Name</div>
                                <input type="text" id="middleName" formControlName="middleName"  class="form-control">
                                <div class="errorMessage" *ngIf="form.controls.middleName.touched && !form.controls.middleName.valid">Middle Name is required</div>
                        </div>
                        <div class="form-row">
                                <div class="formHeading">Last Name</div>
                                <input type="text" id="lastName" formControlName="lastName"  class="form-control">
                                <div class="errorMessage" *ngIf="form.controls.lastName.touched && !form.controls.lastName.valid">Last Name is required</div>
                        </div>
                        <div class="form-row">
                                <div class="formHeading">Date Of Birth</div>
                                <input type="date" id="dateOfBirth" formControlName="dateOfBirth"  class="form-control">
                                <div class="errorMessage" *ngIf="form.controls.dateOfBirth.touched && !form.controls.dateOfBirth.valid">Date of Birth is required</div>
                        </div>
                        <div class="form-row">
                            <button type="submit"  class="btn btn-primary" [disabled]="!form.valid">Save</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</ng-template>