<div class="panel panel-primary">
    <div class="panel-heading">
        List of Employees
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"><button class="btn btn-primary" (click)="onRowSelection(null)">+ Add New Employee</button></div> 
            <div class="col-md-4">&nbsp;&nbsp;Filter By : <input  [(ngModel)]='filterString'  type="text" /></div>
            <!-- (ngModelChange)='onFilterChange($event)' -->
            <div class="col-md-2"><strong>Filtered By : {{filterString}}</strong></div>
        </div>
        <br>
        <div class="row">
            <div class="table-responsive col-md-8">
                <table class="table table-striped">
                    <thead style="background-color: #5ea7e2">
                        <tr>
                            <td>Sr. No.</td>
                            <td (click)="sort('id')">Employee ID
                                <span class="glyphicon sort-icon" *ngIf="key =='id'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </td>
                            <td (click)="sort('firstName')">First Name
                                <span class="glyphicon sort-icon" *ngIf="key =='firstName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </td>
                            <td (click)="sort('middleName')">Middle Name
                                <span class="glyphicon sort-icon" *ngIf="key =='middleName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </td>
                            <td (click)="sort('lastName')">Last Name
                                <span class="glyphicon sort-icon" *ngIf="key =='lastName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </td>
                            <td (click)="sort('dateOfBirth')">Date Of Birth
                                <span class="glyphicon sort-icon" *ngIf="key =='dateOfBirth'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let employee of filteredEmployees | orderBy: key : reverse  | filter:filterString | paginate: { itemsPerPage: 20, currentPage: p }; let i=index;' (click)='onRowSelection(employee)'>
                            <td>{{i+1}}</td>
                            <td>{{"EMP100"+employee.id}}</td>
                            <td>{{employee.firstName}}</td>
                            <td>{{employee.middleName}}</td>
                            <td>{{employee.lastName}}</td>
                            <td>{{employee.dateOfBirth}}</td>
                        </tr>
                    </tbody>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </table>
            </div>
            <div class="col-md-4">
                <employee-details [employee]='selectedEmployee' (notify)='onNotify($event)' [employees]='employees'></employee-details>
            </div>
        </div>
    </div>
</div>